.routing-container{
    background-color: black;
    color: aliceblue;
}
.routing-container ul{
display: flex;

}
.routing-container ul li{
    list-style-type: none;
    padding: 20px;
}
.routing-container ul li a{
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 19px;
}
.home-container{
    background-color: antiquewhite;
    color: black;
    padding: 50px;
    /* margin: 20px; */
    height: 100vh;
}
.contact-container{
    background-color: antiquewhite;
    color: black;
    padding: 50px;
}
.about-container{
    background-color: antiquewhite;
    color: black;
    padding: 50px;
}
.go-back-btn{
    background-color: brown;
    color: white;
    border: none;
margin: 20px;
}